[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Gabble connection manager.
Icon=blockdevice
Name=Gabble Account Configuration User Interface
Type=Service
ServiceTypes=KCMTelepathyAccounts/AccountUiPlugin

X-KDE-Library=kcmtelepathyaccounts_plugin_gabble
X-KDE-PluginInfo-Author=George Goldberg
X-KDE-PluginInfo-Email=george.goldberg@collabora.co.uk
X-KDE-PluginInfo-Name=gabble
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
