[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Gabble connection manager.
Comment[pt]=Interface de configuração de contas personalizadas, usando o gestor de ligações Gabble.
Comment[sv]=Användargränssnitt för anpassad kontoinställning av konton som använder anslutningshanteraren Gabble.
Comment[uk]=Інтерфейс користувача для нетипового налаштування облікового запису за допомогою керування з’єднаннями Gabble.
Comment[x-test]=xxCustom account configuration user interface for accounts using the Gabble connection manager.xx
Icon=blockdevice
Name=Gabble Account Configuration User Interface
Name[pt]=Interface de Configuração de Contas do Gabble
Name[sv]=Användargränssnitt för inställning av Gabble-konton
Name[tr]=Gabble Hesabı Yapılandırması Kullanıcı Arayüzü
Name[uk]=Інтерфейс користувача Gabble для налаштування
Name[x-test]=xxGabble Account Configuration User Interfacexx
Type=Service
ServiceTypes=KCMTelepathyAccounts/AccountUiPlugin

X-KDE-Library=kcmtelepathyaccounts_plugin_gabble
X-KDE-PluginInfo-Author=George Goldberg
X-KDE-PluginInfo-Email=george.goldberg@collabora.co.uk
X-KDE-PluginInfo-Name=gabble
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
