[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Butterfly connection manager.
Comment[da]=Brugerflade til brugertilpasset kontokonfiguration til konti der bruger forbindelseshåndteringen Butterfly.
Comment[et]=Butterfly ühendusehaldurit kasutavate kontode kohandatud konto seadistamise kasutajaliides
Comment[fr]=Personnalisez l'interface utilisateur de configuration de comptes pour les comptes utilisant le gestionnaire de connexions Butterfly.
Comment[hu]=Egyedi beállítófelület a Butterfly kapcsolatkezelőt használó azonosítókhoz.
Comment[it]=Interfaccia utente personalizzata di configurazione account per account che usano il gestore di connessioni Butterfly.
Comment[km]= 
Comment[nl]=Gebruikersinterface voor aangepaste accountconfiguratie voor accounts die de Butterfly verbindingenbeheerder gebruiken.
Comment[pt]=Interface de utilizador de configuração de contas personalizadas com o gestor de ligações Butterfly.
Comment[pt_BR]=Interface de usuário de configuração de contas personalizadas usando o gerenciador de conexões Butterfly.
Comment[sv]=Användargränssnitt för anpassad kontoinställning av konton som använder anslutningshanteraren Butterfly.
Comment[uk]=Інтерфейс користувача для нетипового налаштування облікового запису за допомогою керування з’єднаннями Butterfly.
Comment[x-test]=xxCustom account configuration user interface for accounts using the Butterfly connection manager.xx
Type=Service
ServiceTypes=KCMTelepathyAccounts/AccountUiPlugin

X-KDE-Library=kcmtelepathyaccounts_plugin_butterfly
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=kde@davidedmundson.co.uk
X-KDE-PluginInfo-Name=butterfly
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
