[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Haze connection manager.
Comment[da]=Brugerflade til brugertilpasset kontokonfiguration til konti der bruger forbindelseshåndteringen Haze.
Comment[de]=Eigene Benutzeroberfläche zum Einrichten von Zugängen, die die Haze-Verbindungsverwaltung verwenden.
Comment[es]=Interfaz de configuración para cuenta personalizada que usa el gestor de conexión Haze.
Comment[hu]=Egyedi beállítófelület a Haze kapcsolatkezelőt használó azonosítókhoz.
Comment[it]=Interfaccia utente personalizzata di configurazione account per account che usano il gestore di connessioni Haze.
Comment[nl]=Gebruikersinterface voor aangepaste accountconfiguratie voor accounts die de Haze verbindingenbeheerder gebruiken.
Comment[pt]=Interface de utilizador de configuração de contas personalizadas com o gestor de ligações Haze.
Comment[pt_BR]=Interface de configuração de contas personalizadas usando o gerenciador de conexões Haze.
Comment[sv]=Användargränssnitt för anpassad kontoinställning av konton som använder anslutningshanteraren Haze.
Comment[uk]=Інтерфейс користувача для нетипового налаштування облікового запису за допомогою керування з’єднаннями Haze.
Comment[x-test]=xxCustom account configuration user interface for accounts using the Haze connection manager.xx
Icon=blockdevice
Name=Haze Account Configuration User Interface
Name[da]=Brugerflade til Haze kontokonfiguration
Name[de]=Benutzeroberfläche zur Einrichtung von Haze-Zugängen
Name[es]=Interfaz de configuración de cuenta de Haze
Name[hu]=Haze azonosítóbeállító felület
Name[it]=Interfaccia utente di configurazione account Haze
Name[nl]=Gebruikersinterface voor Haze accountconfiguratie
Name[pt]=Interface de Configuração de Contas do Haze
Name[pt_BR]=Interface de configuração de contas do Haze
Name[sv]=Användargränssnitt för inställning av Haze-konton
Name[uk]=Інтерфейс користувача для налаштування Haze
Name[x-test]=xxHaze Account Configuration User Interfacexx
Type=Service
ServiceTypes=KCMTelepathyAccounts/AccountUiPlugin

X-KDE-Library=kcmtelepathyaccounts_plugin_haze
X-KDE-PluginInfo-Author=Dominik Schmidt
X-KDE-PluginInfo-Email=kde@dominik-schmidt.de
X-KDE-PluginInfo-Name=haze
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
