[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Haze connection manager.
Comment[es]=Interfaz de usuario personalizada para cuentas que usen el gestor de conexión Haze.
Comment[hu]=Egyedi beállítófelület a Haze kapcsolatkezelőt használó azonosítókhoz.
Comment[nl]=Gebruikersinterface voor aangepaste accountconfiguratie voor accounts die de Haze verbindingenbeheerder gebruiken.
Comment[pt]=Interface de utilizador de configuração de contas personalizadas com o gestor de ligações Haze.
Comment[sv]=Användargränssnitt för anpassad kontoinställning av konton som använder anslutningshanteraren Haze.
Comment[x-test]=xxCustom account configuration user interface for accounts using the Haze connection manager.xx
Comment[zh_TW]=對使用 Haze 連線管理員的帳號自訂帳號設定使用者介面。
Icon=blockdevice
Name=Haze Account Configuration User Interface
Name[es]=Interfaz de usuario para la configuración de cuentas Haze
Name[hu]=Haze azonosítóbeállító felület
Name[nl]=Gebruikersinterface voor Haze accountconfiguratie
Name[pt]=Interface de Configuração de Contas do Haze
Name[sv]=Användargränssnitt för inställning av Haze-konton
Name[x-test]=xxHaze Account Configuration User Interfacexx
Name[zh_TW]=Haze 帳號設定使用者介面
Type=Service
ServiceTypes=KTpAccountsKCM/AccountUiPlugin

X-KDE-Library=ktpaccountskcm_plugin_haze
X-KDE-PluginInfo-Author=Dominik Schmidt
X-KDE-PluginInfo-Email=kde@dominik-schmidt.de
X-KDE-PluginInfo-Name=haze
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
