[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Gabble connection manager.
Comment[ca]=Interfície d'usuari de configuració de compte personalitzat per comptes que utilitzen el gestor de connexions Gabble.
Comment[da]=Brugerflade til brugertilpasset kontokonfiguration til konti der bruger forbindelseshåndteringen Gabble.
Comment[de]=Eigene Benutzeroberfläche zum Einrichten von Zugängen, die die Gabble-Verbindungsverwaltung verwenden.
Comment[el]=Περιβάλλον προσαρμοσμένης διαμόρφωσης λογαριασμού χρήστη για λογαριασμούς που χρησιμοποιούν το διαχειριστή συνδέσεων Gabble.
Comment[es]=Interfaz de configuración de cuentas personalizadas para las cuentas que usen el gestor de conexiones Gabble.
Comment[et]=Gabble'i ühendusehaldurit kasutavate kontode kohandatud konto seadistamise kasutajaliides
Comment[gl]=Interface de usuario de configuración personalizada da conta para contas que empreguen o xestor de conexións Gabble.
Comment[hu]=Egyedi beállítófelület a Gabble kapcsolatkezelőt használó azonosítókhoz.
Comment[it]=Interfaccia utente personalizzata di configurazione account per account che usano il gestore di connessioni Gabble.
Comment[nb]=Brukerflate for å sette opp egendefinerte kontoer ved bruk av Gabble tilkoblingsbehandler.
Comment[nl]=Gebruikersinterface voor aangepaste accountconfiguratie voor accounts die de Gabble verbindingenbeheerder gebruiken.
Comment[pl]=Własny interfejsu użytkownika konfiguracji kont dla kont wykorzystujących menadżera połączeń Gabble.
Comment[pt]=Interface de utilizador de configuração de contas personalizadas com o gestor de ligações Gabble.
Comment[pt_BR]=Interface de configuração de contas personalizadas usando o gerenciador de conexões Gabble.
Comment[sr]=Корисничко сучеље за подешавање посебних налога под менаџером везе Габл.
Comment[sr@ijekavian]=Корисничко сучеље за подешавање посебних налога под менаџером везе Габл.
Comment[sr@ijekavianlatin]=Korisničko sučelje za podešavanje posebnih naloga pod menadžerom veze Gabble.
Comment[sr@latin]=Korisničko sučelje za podešavanje posebnih naloga pod menadžerom veze Gabble.
Comment[sv]=Användargränssnitt för anpassad kontoinställning av konton som använder anslutningshanteraren Gabble.
Comment[uk]=Інтерфейс користувача для нетипового налаштування облікового запису за допомогою керування з’єднаннями Gabble.
Comment[x-test]=xxCustom account configuration user interface for accounts using the Gabble connection manager.xx
Comment[zh_TW]=對使用 Gabble 連線管理員的帳號自訂帳號設定使用者介面。
Icon=blockdevice
Name=Gabble Account Configuration User Interface
Name[ca]=Interfície d'usuari de configuració de compte de Gabble
Name[da]=Brugerflade til Gabble kontokonfiguration
Name[de]=Benutzeroberfläche zur Einrichtung von Gabble-Zugängen
Name[el]=Περιβάλλον διαμόρφωσης λογαριασμού χρήστη με Gabble
Name[es]=Interfaz de configuración de cuentas Gabble
Name[et]=Gabble'i konto seadistamise kasutajaliides
Name[gl]=Interface de usuario para a configuración de contas de Gabble
Name[hu]=Gabble azonosítóbeállító felület
Name[it]=Interfaccia utente di configurazione account Gabble
Name[nb]=Brukerflate for å sette opp Gabble-konto
Name[nl]=Gebruikersinterface voor Gabble accountconfiguratie
Name[pl]=Interfejs użytkownika konfiguracji konta Gabble
Name[pt]=Interface de Configuração de Contas do Gabble
Name[pt_BR]=Interface de configuração de contas do Gabble
Name[sr]=Корисничко сучеље за подешавање налога под Габлом
Name[sr@ijekavian]=Корисничко сучеље за подешавање налога под Габлом
Name[sr@ijekavianlatin]=Korisničko sučelje za podešavanje naloga pod Gabbleom
Name[sr@latin]=Korisničko sučelje za podešavanje naloga pod Gabbleom
Name[sv]=Användargränssnitt för inställning av Gabble-konton
Name[uk]=Інтерфейс користувача для налаштування Gabble
Name[x-test]=xxGabble Account Configuration User Interfacexx
Name[zh_TW]=Gabble 帳號設定使用者介面
Type=Service
ServiceTypes=KTpAccountsKCM/AccountUiPlugin

X-KDE-Library=ktpaccountskcm_plugin_gabble
X-KDE-PluginInfo-Author=George Goldberg
X-KDE-PluginInfo-Email=george.goldberg@collabora.co.uk
X-KDE-PluginInfo-Name=gabble
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
