[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTpAccountsKCM/AccountUiPlugin

Comment=Telepathy Accounts KCM Module Account User Interface Plugins
