[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Salut connection manager.
Comment[ca]=Interfície d'usuari de configuració de compte personalitzat per comptes que utilitzen el gestor de connexions Salut.
Comment[da]=Brugerflade til brugertilpasset kontokonfiguration til konti der bruger forbindelseshåndteringen Salut.
Comment[de]=Eigene Benutzeroberfläche zum Einrichten von Zugängen, die die Salut-Verbindungsverwaltung verwenden.
Comment[el]=Περιβάλλον προσαρμοσμένης διαμόρφωσης λογαριασμού χρήστη για λογαριασμούς που χρησιμοποιούν το διαχειριστή συνδέσεων Salut.
Comment[es]=Interfaz de configuración de cuentas personalizadas para las cuentas que usen el gestor de conexiones Salut.
Comment[et]=Saluti ühendusehaldurit kasutavate kontode kohandatud konto seadistamise kasutajaliides
Comment[fi]=Salut-yhteyshallintaa käyttävien tilien mukautettu hallintakäyttöliittymä.
Comment[gl]=Interface de usuario de configuración personalizada da conta para contas que empreguen o xestor de conexións Salut.
Comment[hu]=Egyedi beállítófelület a Salut kapcsolatkezelőt használó azonosítókhoz.
Comment[it]=Interfaccia utente personalizzata di configurazione account per account che usano il gestore di connessioni Salut.
Comment[nb]=Brukerflate for å sette opp egendefinerte kontoer ved bruk av Salut tilkoblingsbehandler.
Comment[nl]=Gebruikersinterface voor aangepaste accountconfiguratie voor accounts die de Salut verbindingenbeheerder gebruiken.
Comment[pl]=Własny interfejsu użytkownika konfiguracji kont dla kont wykorzystujących menadżera połączeń Salut.
Comment[pt]=Interface de utilizador de configuração de contas personalizadas com o gestor de ligações Salut.
Comment[pt_BR]=Interface de configuração de contas personalizadas usando o gerenciador de conexões Salut.
Comment[sr]=Корисничко сучеље за подешавање посебних налога под менаџером везе Салут.
Comment[sr@ijekavian]=Корисничко сучеље за подешавање посебних налога под менаџером везе Салут.
Comment[sr@ijekavianlatin]=Korisničko sučelje za podešavanje posebnih naloga pod menadžerom veze Salut.
Comment[sr@latin]=Korisničko sučelje za podešavanje posebnih naloga pod menadžerom veze Salut.
Comment[sv]=Användargränssnitt för anpassad kontoinställning av konton som använder anslutningshanteraren Salut.
Comment[uk]=Інтерфейс користувача для нетипового налаштування облікового запису за допомогою керування з’єднаннями Salut.
Comment[x-test]=xxCustom account configuration user interface for accounts using the Salut connection manager.xx
Comment[zh_TW]=對使用 Salut 連線管理員的帳號自訂帳號設定使用者介面。
Icon=blockdevice
Name=Salut Account Configuration User Interface
Name[ca]=Interfície d'usuari de configuració de compte de Salut
Name[cs]=Uživatelské rozhraní nastavení účtu Salut
Name[da]=Brugerflade til Salut kontokonfiguration
Name[de]=Benutzeroberfläche zur Einrichtung von Salut-Zugängen
Name[el]=Περιβάλλον διαμόρφωσης λογαριασμού χρήστη με Salut
Name[es]=Interfaz de configuración de cuentas Salut
Name[et]=Saluti konto seadistamise kasutajaliides
Name[fi]=Salut-tilinmäärityksen käyttöliittymä
Name[gl]=Interface de usuario para a configuración de contas de Salut
Name[hu]=Salut azonosítóbeállító felület
Name[it]=Interfaccia utente di configurazione account Salut
Name[nb]=Brukerflate for å sette opp Salut-konto
Name[nl]=Gebruikersinterface voor Salut accountconfiguratie
Name[pl]=Interfejs użytkownika konfiguracji konta Salut
Name[pt]=Interface de Configuração de Contas do Salut
Name[pt_BR]=Interface de configuração de contas do Salut
Name[sr]=Корисничко сучеље за подешавање налога под Салутом
Name[sr@ijekavian]=Корисничко сучеље за подешавање налога под Салутом
Name[sr@ijekavianlatin]=Korisničko sučelje za podešavanje naloga pod Salutom
Name[sr@latin]=Korisničko sučelje za podešavanje naloga pod Salutom
Name[sv]=Användargränssnitt för inställning av Salut-konton
Name[uk]=Інтерфейс користувача для налаштування Salut
Name[x-test]=xxSalut Account Configuration User Interfacexx
Name[zh_TW]=Salut 帳號設定使用者介面
Type=Service
ServiceTypes=KTpAccountsKCM/AccountUiPlugin

X-KDE-Library=ktpaccountskcm_plugin_salut
X-KDE-PluginInfo-Author=Florian Reinhard
X-KDE-PluginInfo-Email=florian.reinhard@googlemail.com
X-KDE-PluginInfo-Name=salut
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
