[Desktop Entry]
Type=Service
Exec=kcmshell4 kcm_ktp_accounts
StartupNotify=true
Terminal=false
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_ktp_accounts
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;
X-KDE-System-Settings-Parent-Category=im-and-voip
Icon=telepathy-kde

Name=Accounts
Name[ca]=Comptes
Name[cs]=Účty
Name[da]=Konti
Name[de]=Zugänge
Name[el]=Λογαριασμοί
Name[es]=Cuentas
Name[et]=Kontod
Name[fi]=Tilit
Name[fr]=Comptes
Name[ga]=Cuntais
Name[gl]=Contas
Name[hu]=Azonosítók
Name[it]=Account
Name[km]=គណនី
Name[lt]=Paskyros
Name[nb]=Kontoer
Name[nds]=Kontos
Name[nl]=Accounts
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[ru]=Учётные записи
Name[sk]=Účty
Name[sr]=Налози
Name[sr@ijekavian]=Налози
Name[sr@ijekavianlatin]=Nalozi
Name[sr@latin]=Nalozi
Name[sv]=Konton
Name[ug]=ھېساباتلار
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Name[zh_CN]=账户
Name[zh_TW]=帳號
Comment=Add, edit and remove your instant messaging and VoIP accounts.
Comment[ca]=Afegeix, edita i elimina els comptes de missatgeria instantània i VoIP.
Comment[cs]=Přidávejte, upravujte a odstraňujte Vaše účty pro VoIP a IM.
Comment[da]=Tilføj, redigér og fjern dine instant messaging- og VoIP-konti.
Comment[de]=Hinzufügen, Bearbeiten und Entfernen Ihrer Instant-Messaging- und VoIP-Zugänge.
Comment[el]=Προσθέστε, επεξεργαστείτε και αφαιρέστε τους λογαριασμούς σας επικοινωνίας με στιγμιαία μηνύματα και VoIP. 
Comment[es]=Añadir, editar y eliminar sus cuentas de mensajería instantánea y VoIP.
Comment[et]=Kiirsuhtlus- ja VoIP kontode lisamine, muutmine ja eemaldamine.
Comment[fi]=Pikaviesti- ja VoIP-tilien asetukset
Comment[fr]=Ajoutez, modifiez et supprimez vos comptes de messagerie instantanée et VoIP.
Comment[gl]=Engadir, editar e eliminar contas de mensaxaría instantánea e Voz por Internet.
Comment[hu]=Azonnali üzenetküldő- és VoIP-fiókok hozzáadása, szerkesztése és eltávolítása.
Comment[it]=Aggiungi, modifica e rimuovi i tuoi account di messaggistica istantanea e VoIP.
Comment[km]=បន្ថែម កែ​សម្រួល និង​យក​​​ការ​ផ្ញើ​សារ​ជា​បន្ទាន់ និង​គណនី​ VoIP ចេញ ។
Comment[lt]=Pridėti, keisti ir šalinti Jūsų tikralaikio pokalbio ir VoIP paskyras.
Comment[nb]=Legg til, rediger og fjern dine VoIP- og lynmeldingskontoer.
Comment[nl]=Voeg toe, bewerk en verwijder uw Instant Messaging- en VOIP-accounts.
Comment[pa]=ਆਪਣੇ ਤੁਰੰਤ ਸੁਨੇਹੇ ਅਤੇ VoIP ਅਕਾਊਂਟ ਸ਼ਾਮਲ ਕਰੋ, ਸੋਧੋ ਅਤੇ ਹਟਾਉ।
Comment[pl]=Dodawaj, edytuj i usuwaj swoje konta VoIP i komunikatorów internetowych.
Comment[pt]=Adicionar, editar e remover as suas contas de mensagens instantâneas e VoIP.
Comment[pt_BR]=Adicione, edite e remova suas contas de mensageiro instantâneo e VoIP.
Comment[ru]=Добавление, редактирование и удаление ваших учётных записей.
Comment[sk]=Pridať, upraviť a odstrániť vaše účty instant messagingu a VoIP.
Comment[sr]=Додајте, уређујте и уклањајте своје брзогласничке и ВоИП налоге.
Comment[sr@ijekavian]=Додајте, уређујте и уклањајте своје брзогласничке и ВоИП налоге.
Comment[sr@ijekavianlatin]=Dodajte, uređujte i uklanjajte svoje brzoglasničke i VoIP naloge.
Comment[sr@latin]=Dodajte, uređujte i uklanjajte svoje brzoglasničke i VoIP naloge.
Comment[sv]=Lägg till, redigera och ta bort konton för direktmeddelanden och IP-telefon.
Comment[uk]=Додавайте, змінюйте і вилучайте ваші облікові записи на службах миттєвого обміну повідомленнями та VoIP.
Comment[x-test]=xxAdd, edit and remove your instant messaging and VoIP accounts.xx
Comment[zh_CN]=添加、编辑和删除您的即时通讯和语音账户。
Comment[zh_TW]=新增、編輯或移除您的即時訊息與 VoIP 帳號。
