[Desktop Entry]
Type=Service
Exec=kcmshell4 kcm_telepathy_accounts
StartupNotify=true
Terminal=false
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_telepathy_accounts
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;
X-KDE-System-Settings-Parent-Category=im-and-voip
Icon=telepathy-kde

Name=Accounts
Name[cs]=Účty
Name[x-test]=xxAccountsxx
Comment=Add, edit and remove your instant messaging and VoIP accounts.
Comment[x-test]=xxAdd, edit and remove your instant messaging and VoIP accounts.xx