[Desktop Entry]
Type=Service
Exec=kcmshell4 kcm_telepathy_accounts
StartupNotify=true
Terminal=false
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_telepathy_accounts
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;
X-KDE-System-Settings-Parent-Category=im-and-voip
Icon=telepathy-kde

Name=Accounts
Name[cs]=Účty
Name[da]=Konti
Name[de]=Zugänge
Name[fr]=Comptes
Name[hu]=Azonosítók
Name[it]=Account
Name[nl]=Accounts
Name[pt]=Contas
Name[pt_BR]=Contas
Name[sv]=Konton
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Comment=Add, edit and remove your instant messaging and VoIP accounts.
Comment[cs]=Přidávejte, editujte a odstraňujte vaše účty pro VoIP a IM.
Comment[da]=Tilføj, redigér og fjern dine instant messaging- og VoIP-konti.
Comment[de]=Hinzufügen, Bearbeiten und Entfernen Ihrer Instant-Messaging- und VoIP-Zugänge.
Comment[es]=Añadir, editar y eliminar sus cuentas de mensajería instantánea y de VoIP.
Comment[et]=Kiirsuhtlus- ja VoIP kontode lisamine, muutmine ja eemaldamine.
Comment[fr]=Ajoutez, modifiez et supprimez vos comptes de messagerie instantanée et VoIP.
Comment[hu]=Azonnali üzenetküldő- és VoIP-fiókok hozzáadása, szerkesztése és eltávolítása.
Comment[it]=Aggiungi, modifica e rimuovi i tuoi account di messaggistica istantanea e VoIP.
Comment[km]=បន្ថែម កែ​សម្រួល និង​យក​​​ការ​ផ្ញើ​សារ​ជា​បន្ទាន់ និង​គណនី​ VoIP ចេញ ។
Comment[nds]=Kortnarichten- un VoIP-Kontos tofögen, bewerken oder wegmaken
Comment[nl]=Voeg toe, bewerk en verwijder uw Instant Messaging- en VOIP-accounts.
Comment[pa]=ਆਪਣੇ ਤੁਰੰਤ ਸੁਨੇਹੇ ਅਤੇ VoIP ਅਕਾਊਂਟ ਸ਼ਾਮਲ ਕਰੋ, ਸੋਧੋ ਅਤੇ ਹਟਾਉ।
Comment[pl]=Dodawaj, edytuj i usuwaj swoje konta VoIP i komunikatorów internetowych.
Comment[pt]=Adicionar, editar e remover as suas contas de mensagens instantâneas e VoIP.
Comment[pt_BR]=Adicione, edite e remova suas contas de mensageiro instantâneo e VoIP.
Comment[sv]=Lägg till, redigera och ta bort konton för direktmeddelanden och IP-telefon.
Comment[uk]=Додавайте, змінюйте і вилучайте ваші облікові записи на службах миттєвого обміну повідомленнями та VoIP.
Comment[x-test]=xxAdd, edit and remove your instant messaging and VoIP accounts.xx
