[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=im-and-voip
X-KDE-System-Settings-Parent-Category=network-and-connectivity
X-KDE-Weight=200
Icon=telepathy-kde

Name=Instant Messaging and VoIP
Name[cs]=IM a VoIP
Name[fr]=Messagerie instantanée et VoIP
Name[hu]=Azonnali üzenetküldés és VoIP
Name[it]=Messaggistica istantanea e VoIP
Name[pt]=Mensagens Instantâneas e VoIP
Name[pt_BR]=Mensageiro instantâneo e VoIP
Name[sv]=Direktmeddelande och IP-telefon
Name[uk]=Облікові записи на службах миттєвого обміну повідомленнями та VoIP
Name[x-test]=xxInstant Messaging and VoIPxx
