[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=im-and-voip
X-KDE-System-Settings-Parent-Category=network-and-connectivity
X-KDE-Weight=200
Icon=telepathy-kde

Name=Instant Messaging and VoIP
Name[bs]=Instant poruke i  VoIP
Name[ca]=Missatgeria instantània i VoIP
Name[ca@valencia]=Missatgeria instantània i VoIP
Name[cs]=IM a VoIP
Name[da]=Instant messaging og VoIP
Name[de]=Instant Messaging und VoIP
Name[el]=Επικοινωνία με στιγμιαία μηνύματα και VoIP
Name[es]=Mensajería instantánea y VoIP
Name[et]=Kiirsuhtlus ja VoIP
Name[fi]=Pikaviestit ja VoIP
Name[fr]=Messagerie instantanée et VoIP
Name[gl]=Mensaxería instantánea e voz por internet
Name[hu]=Azonnali üzenetküldés és VoIP
Name[ia]=Messageria instantanee e VoIP
Name[it]=Messaggistica istantanea e VoIP
Name[kk]=Лезде хабарласу мен VoIP
Name[km]=VoIP និង​ការ​ផ្ញើ​សារ​បន្ទាន់
Name[lt]=Pokalbiai ir VoIP
Name[mr]=त्वरित संदेश व VOIP
Name[nb]=Lynmelding og VoIP
Name[nl]=Instant Messaging en VoIP
Name[pl]=Komunikator internetowy i VoIP
Name[pt]=Mensagens Instantâneas e VoIP
Name[pt_BR]=Mensageiro instantâneo e VoIP
Name[ro]=Mesagerie instantanee și VoIP
Name[ru]=Обмен сообщениями
Name[sk]=Instant Messaging a VoIP
Name[sl]=Hipno sporočanje in VoIP
Name[sr]=Брзо гласништво и ВоИП
Name[sr@ijekavian]=Брзо гласништво и ВоИП
Name[sr@ijekavianlatin]=Brzo glasništvo i VoIP
Name[sr@latin]=Brzo glasništvo i VoIP
Name[sv]=Direktmeddelande och IP-telefon
Name[tr]=Anında Mesajlaşma ve VoIP
Name[uk]=Обмін повідомленнями і VoIP
Name[wa]=Messaedjreye sol moumint eyet VoIP
Name[x-test]=xxInstant Messaging and VoIPxx
Name[zh_CN]=即时通讯和语音
Name[zh_TW]=即時訊息與 VoIP
X-KDE-Keywords=KTp,Chat, Telepathy, IM
X-KDE-Keywords[bs]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[ca]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[ca@valencia]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[cs]=KTp,Rozhovor, Telepathy, IM
X-KDE-Keywords[da]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[de]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[es]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[fi]=KTp,Chat, Telepathy, IM, Keskustelu, Pikaviestintä
X-KDE-Keywords[fr]=KTp, Chat, Telepathy, messagerie instantanée, MI
X-KDE-Keywords[hu]=KTp,Csevegés, Telepathy, IM
X-KDE-Keywords[ia]=Ktp, Chat, Telepathy, IM
X-KDE-Keywords[it]=KTp,Chat,Telepathy,MI,Messaggistica istantanea
X-KDE-Keywords[kk]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[lt]=KTp,Pokalbiai, Telepathy, IM, TP
X-KDE-Keywords[nl]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[pt]=KTp, Conversa, Telepathy, MI
X-KDE-Keywords[pt_BR]=KTp,Chat, Telepathy, IM, MI, mensageiro instantâneo
X-KDE-Keywords[ru]=KTp,Chat,Telepathy,IM,общение,чат
X-KDE-Keywords[sk]=KTp,Chat, Telepathy, IM
X-KDE-Keywords[sl]=KTp,klepet,Telepathy,sporočanje,hipno
X-KDE-Keywords[sv]=KTp,Chatt, Telepathy, DM
X-KDE-Keywords[uk]=KTp,Chat,Telepathy,IM,спілкування,балачка,обмін,повідомлення,телепатія
X-KDE-Keywords[x-test]=xxKTp,Chat, Telepathy, IMxx
X-KDE-Keywords[zh_CN]=KTp,Chat, Telepathy, IM,聊天,即时通信
X-KDE-Keywords[zh_TW]=KTp,Chat, Telepathy, IM
