[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KCMTelepathyAccounts/AccountUiPlugin

Comment=Telepathy Accounts KCM Module Account User Interface Plugins
