[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Idle connection manager.
Comment[es]=Interfaz de usuario personalizada para la configuración de cuentas que usen el gestor de conexión Idle.
Comment[hu]=Egyedi beállítófelület az Idle kapcsolatkezelőt használó azonosítókhoz.
Comment[nl]=Gebruikersinterface voor aangepaste accountconfiguratie voor accounts die de Idle verbindingenbeheerder gebruiken.
Comment[pt]=Interface de utilizador de configuração de contas personalizadas com o gestor de ligações Idle.
Comment[sv]=Användargränssnitt för anpassad kontoinställning av konton som använder anslutningshanteraren Idle.
Comment[x-test]=xxCustom account configuration user interface for accounts using the Idle connection manager.xx
Comment[zh_TW]=對使用 Idle 連線管理員的帳號自訂帳號設定使用者介面。
Type=Service
ServiceTypes=KTpAccountsKCM/AccountUiPlugin

X-KDE-Library=ktpaccountskcm_plugin_idle
X-KDE-PluginInfo-Author=Lasse Liehu
X-KDE-PluginInfo-Email=lliehu@kolumbus.fi
X-KDE-PluginInfo-Name=idle
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
