[Desktop Entry]
Encoding=UTF-8
Comment=Custom account configuration user interface for accounts using the Idle connection manager.
Type=Service
ServiceTypes=KTpAccountsKCM/AccountUiPlugin

X-KDE-Library=ktpaccountskcm_plugin_idle
X-KDE-PluginInfo-Author=Lasse Liehu
X-KDE-PluginInfo-Email=lliehu@kolumbus.fi
X-KDE-PluginInfo-Name=idle
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Telepathy
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
